image: python:3.11-slim

stages:
  - lint
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

before_script:
  - python -V
  - pip install poetry
  - poetry lock
  - poetry install --no-interaction --no-ansi

lint:
  stage: lint
  script:
    - poetry run ruff check .
    - poetry run black --check .

test:
  stage: test
  script:
    - poetry run pytest -q
