image: python:3.11-slim

stages:
  - lint
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

before_script:
  - python -V
  - pip install -U pip
  - pip install -e '.[dev]'

lint:
  stage: lint
  script:
    - ruff check .
    - black --check .
    - mypy src

test:
  stage: test
  script:
    - pytest -q
