default_language_version:
  python: python3.11

exclude: |
  (?x)(
    ^.venv/|
    ^.cache/|
    __pycache__/
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
