default_language_version:
  python: python3.11

exclude: |
  (?x)(
    ^.venv/|
    ^.cache/|
    __pycache__/
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.3
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format
